
/// Generates the property `column-count` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-count property.
@mixin column-count($val) {
  -webkit-column-count: $val;
  -moz-column-count: $val;
  column-count: $val;
}


/// Generates the property `column-fill` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-fill property.
@mixin column-fill($val) {
  -moz-column-fill: $val;
  column-fill: $val;
}


/// Generates the property `column-gap` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-gap property.
@mixin column-gap($val) {
  -webkit-column-gap: $val;
  -moz-column-gap: $val;
  column-gap: $val;
}


/// Generates the property `column-rule` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-rule property.
@mixin column-rule($val) {
  -webkit-column-rule: $val;
  -moz-column-rule: $val;
  column-rule: $val;
}


/// Generates the property `column-rule-color` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-rule-color property.
@mixin column-rule-color($val) {
  -webkit-column-rule-color: $val;
  -moz-column-rule-color: $val;
  column-rule-color: $val;
}


/// Generates the property `column-rule-style` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-rule-style property.
@mixin column-rule-style($val) {
  -webkit-column-rule-style: $val;
  -moz-column-rule-style: $val;
  column-rule-style: $val;
}


/// Generates the property `column-rule-width` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-rule-width property.
@mixin column-rule-width($val) {
  -webkit-column-rule-width: $val;
  -moz-column-rule-width: $val;
  column-rule-width: $val;
}


/// Generates the property `column-span` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-span property.
@mixin column-span($val) {
  -webkit-column-span: $val;
  column-span: $val;
}


/// Generates the property `column-width` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the column-width property.
@mixin column-width($val) {
  -webkit-column-width: $val;
  -moz-column-width: $val;
  column-width: $val;
}


/// Generates the property `columns` as well as each necessary
/// vendor prefix.
///
/// @param $val - The value of the columns property.
@mixin columns($val) {
  -webkit-columns: $val;
  -moz-columns: $val;
  columns: $val;
}